In [1]:
import pandas as pd

## CARGA de dataframes desde CSV

In [2]:
df = pd.read_csv(r"data/staySpain_raw.csv")
df_previo = pd.read_csv(r"../week_02_2025-09-22/data/staySpain_raw.csv")

## Dataset ACTUAL

### Total registros

In [3]:
total_rows = df.shape[0]
print(total_rows)

10000

### Total apartment_id únicas

In [4]:
unique_count = df['apartment_id'].nunique()
print(unique_count)

9650

### apartment_id con más de una entrada

In [5]:
# Count occurrences of each apartment_id
apartment_counts = df['apartment_id'].value_counts()

# Filter to get only apartment_ids that have duplicates
duplicated_apartments = apartment_counts[apartment_counts > 1]

# Count the number of unique apartment_ids that have duplicates
unique_duplicates_count = duplicated_apartments.count()

print(f'Number of unique apartment_ids that have duplicates: {unique_duplicates_count}')

Number of unique apartment_ids that have duplicates: 342

### apartment_id redundantes

In [6]:
# Count duplicates with keep='first' (only counts duplicates after the first occurrence)
total_duplicates_after_first = df['apartment_id'].duplicated(keep='first').sum()

print(f'Total number of duplicated apartment_ids (keep="first"): {total_duplicates_after_first}')

Total number of duplicated apartment_ids (keep="first"): 350

### número de registros duplicados

In [7]:
# Check for duplicate rows
duplicate_count = df.duplicated().sum() 
print(duplicate_count)

0

## Dataset PREVIO

### Total registros

In [8]:
total_rows_prev = df_previo.shape[0]
print(total_rows_prev)

8000

## Cambio INTERSEMANAL

### apartment_id nuevos respecto de la semana anterior

In [9]:
prev_ids = set(df_previo['apartment_id']) # SETs are used to ensure apartment_id(s) are unique
new_ids = set(df['apartment_id'])

new_unique_ids = new_ids - prev_ids
new_ids_count = len(new_unique_ids)

print(new_ids_count)

1957

### Registros nuevos

In [10]:
new_rows = total_rows - total_rows_prev
print(new_rows)

2000

## RESUMEN

In [11]:
print(f'''
DATA SET ACTUAL
---------------
Número total de REGISTROS: {total_rows} filas.
Número total de ALOJAMIENTOS únicos: {unique_count} apartment_id(s).
REGISTROS duplicados exactos: {duplicate_count}
ALOJAMIENTOS con duplicados: {unique_duplicates_count}
IDs extra: {total_duplicates_after_first} registros redundantes.


CAMBIOS
-------
{new_rows} REGISTROS NUEVOS resecto a la semana anterior.
{new_ids_count} ALOJAMIENTOS NUEVOS respecto de la semana anterior.
''')

DATA SET ACTUAL
---------------
Número total de REGISTROS: 10000 filas.
Número total de ALOJAMIENTOS únicos: 9650 apartment_id(s).
REGISTROS duplicados exactos: 0
ALOJAMIENTOS con duplicados: 342
IDs extra: 350 registros redundantes.


CAMBIOS
-------
2000 REGISTROS NUEVOS resecto a la semana anterior.
1957 ALOJAMIENTOS NUEVOS respecto de la semana anterior.